.general {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 40px;
}

.cadaPro {
  border: 1px solid black;
  width: 250px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
}

.map {
  margin: auto;
}

.title {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

.linkChat {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 5px;
  margin: 10px;
  margin-left: 50px;
  background: rgba(255, 255, 255, 255);
}

.direction {
  margin-left: 10px;
}
